<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Monster_Hunter_Battle_Set.Properties.Settings.Battle_Sets_DataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Battle_Sets_Data.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    
        <!--<add name="Monster_Hunter_Battle_Set_ConnectionString"
            connectionString="Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename = 'C:\Users\Owner\source\repos\Monster Hunter Battle Set\Monster Hunter Battle Set\Database1.mdf'; Integrated Security = True"
            providerName="System.Data.SqlClient" />-->
    <add name="Monster_Hunter_Battle_Set_ConnectionString"
            connectionString="Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename = |DataDirectory|\Database1.mdf; Integrated Security = True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>